<% if user_signed_in? %>
  <p>SOY UN USUARIO LOGGEADO</p>
<% elsif municipality_signed_in? %>
  <p>SOY UNA MUNI LOGGEADA</p>
<% else %>
  <p>SOY VISITA</p>
<% end %>
<table id="proyect-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Presupuesto</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <%= render @proyects %>
  </tbody>
</table>

<%= render 'shared/create_proyect_modal', proyect: @new_proyect %>
<%= render 'shared/proyect_modal' %>


