
<div style='width: 99vw;'>
  <div id="map" style='width: 99vw; height: 90vh;'></div>
</div>
<% if user_signed_in? %>
  <p>SOY UN USUARIO LOGGEADO</p>
<% elsif municipality_signed_in? %>
  <p>SOY UNA MUNI LOGGEADA</p>
<% else %>
  <p>SOY VISITA</p>
<% end %>
<table id="proyect-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Presupuesto</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <%= render @proyects %>
  </tbody>
</table>

<%= render 'shared/create_proyect_modal', proyect: @proyect %>
<%= render 'shared/proyect_modal' %>

<script>
  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        center: new google.maps.LatLng({lat: -33.4516359176471, lng: -70.6197884235294}),
        zoom: 11
      },
      internal: {      
        id: 'map'
      }
    },
    function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);  
      }
    );
</script>
b

