<%= render 'shared/form', proyect: @proyect %>
<table id="proyect-list" class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Presupuesto</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <%= render @proyects %>
  </tbody>
</table>

<%= render 'shared/proyect_modal' %>


