<div id="map_container">
  <div id="map"></div>
</div>
<script id="map_script">
  $(document).ready(function () {
    <%= render 'googlemap', hash: @hash %>
  }); 
</script>


<%= render 'shared/create_proyect_modal', proyect: @proyect %>
<%= render 'shared/proyect_modal' %>
