$('#proyect-modal-title').text("<%= @proyect.title %>");
$('#proyect-modal-body').html("<%= j render 'proyect_show', proyect: @proyect%>");
$('#feedback-body').html("<%= j render 'shared/feedback_form', proyect: @proyect, feedback: @feedback %>");
$('#feedback-body').append("<div id='feedbacks-container'><%= j render @feedbacks %></div>");
$('#edit-form').hide();
$('#proyectModal').modal('show');